/* CSS module applied to login and sign up component */

.login {
    background: transparent;
}

.credentials label {
    display: block;
    font-size: 14px;
    margin: 6px;
    text-align: start;
}

.credentials input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #e5e5e5;
    margin-bottom: 18px;
}

.credentials input::placeholder {
    color: #999;
}

.submit {
    margin: 3px;
    padding: 6px 20px;
    border-radius: 20px;
    border: none;
    background: #b5b5b5;
    cursor: pointer;
}

.submit:hover {
    background: #a5a5a5;
}
