/************ AUTH PAGE *************/

.auth_card {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 25px;
    padding: 30px;
    max-width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.toggle {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    border-radius: 25px;
    color: #797979;
    background-color: #e6e6e6;
    box-shadow: inset 4px 0 5px rgba(0, 0, 0, 0.1);
}

.toggle button {
    flex: 1;
    padding: 0.75rem;
    border: none;
    cursor: pointer;
}

.active {
    color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.17);
    background-color: #d2d2d2;
}

/******** Login/Sign up component *********/

.login .sign_up {
    background: transparent;
}

.credentials label {
    display: block;
    font-size: 14px;
    margin: 6px;
    text-align: start;
}

.credentials input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #e5e5e5;
    margin-bottom: 18px;
}

.credentials input::placeholder {
    color: #999;
}

.submit {
    margin: 3px;
    padding: 6px 20px;
    border-radius: 20px;
    border: none;
    background: #b5b5b5;
    cursor: pointer;
}

.submit:hover {
    background: #a5a5a5;
}
